body, html {
    margin: 30px;
    height: 100%;
    width: 100%;
}
.my-col {
    border: 3px solid red;
}
.my-row{
    border: 3px solid red;
    height: 60px;
}
.my-container {
    border: 1px solid black;
    height: 50%;
}
.email-type {
    width: 17.2%;
    height: 85%;
}