body, html {
    margin: 30px;
    height: 100%;
    width: 100%;
}
.my-col {
    border: 3px solid grey; 
    justify-content:center; 
}
.my-row{
    border: 3px solid black;
    height: 60px;
}
.my-container { 
   
  height: 80%;
}
.email-type {
    /* width: 17.2%; */
    height:100%
    
}
.nav-item {
    border: 1px solid black;
    max-width: 100%;
    background-color: white;
}
.msg-box {
    background-color: white;
    height: 10%;
    border: 1px solid black;
}
.trash-bin {
    background-color: white;
    height: 16%;
    width: 50%;
    border: 1px solid black;
}